In [1]:
from src.data import DataLoaders
import pandas as pd

In [2]:
x =  DataLoaders.ACSData(2016,'county')

In [3]:
x.tot_pop

       tot_population
GEOID
01001         54598.0
01003        196640.0
01005         23641.0
01007         20603.0
01009         57099.0
...               ...
56037         44166.0
56039         22524.0
56041         20658.0
56043          8174.0
56045          6819.0

[3142 rows x 1 columns]

In [4]:
y = DataLoaders.NFIRSData('county',x.tot_pop)

/home/kelsonss/anaconda3/envs/rcp2/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3343: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
y.tot_pop

       tot_population
GEOID
01001         54598.0
01003        196640.0
01005         23641.0
01007         20603.0
01009         57099.0
...               ...
56037         44166.0
56039         22524.0
56041         20658.0
56043          8174.0
56045          6819.0

[3142 rows x 1 columns]

In [9]:
y.data

,fdid,inc_date,state,oth_inj,oth_death,prop_loss,cont_loss,tot_loss,severe_fire,had_inj,had_death,10k_loss,year
geoid,,,,,,,,,,,,,
02110,11100,2017-10-02,AK,0,0,0,0,0,not_sev_fire,no_inj,no_death,no_10k_loss,2017
02110,11100,2017-10-08,AK,0,0,0,0,0,not_sev_fire,no_inj,no_death,no_10k_loss,2017
02110,11100,2017-10-16,AK,0,0,0,5000,5000,not_sev_fire,no_inj,no_death,no_10k_loss,2017
02110,11100,2017-10-19,AK,0,0,0,0,0,not_sev_fire,no_inj,no_death,no_10k_loss,2017
02110,11100,2017-01-06,AK,0,0,300,0,300,not_sev_fire,no_inj,no_death,no_10k_loss,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56043,43507,2017-01-24,WY,0,0,2000,400,2400,not_sev_fire,no_inj,no_death,no_10k_loss,2017
56043,43507,2017-06-27,WY,0,0,1000,1500,2500,not_sev_fire,no_inj,no_death,no_10k_loss,2017
56043,43507,2017-06-28,WY,0,0,5000,1000,6000,not_sev_fire,no_inj,no_death,no_10k_loss,2017
56045,45511,2017-05-06,WY,0,0,5000,0,5000,not_sev_fire,no_inj,no_death,no_10k_loss,2017
56045,45519,2017-01-07,WY,0,0,0,0,0,not_sev_fire,no_inj,no_death,no_10k_loss,2017

In [10]:
y.fires

,2009,2010,2011,2012,2013,2014,2015,2016,2017
geoid,,,,,,,,,
01001,0.750943,0.549471,0.567786,0.293051,0.457892,0.201473,0.531155,0.457892,0.567786
01003,0.386493,0.533971,0.447518,0.523800,0.462775,0.671277,0.503458,0.508544,0.737388
01005,0.719090,0.888287,0.169198,0.507593,0.211497,0.296096,0.126898,0.169198,0.761389
01007,0.097073,0.145610,0.194146,0.242683,NaN,NaN,0.097073,0.194146,0.388293
01009,0.420323,0.437836,0.647997,0.315242,0.245188,0.262702,0.367782,0.928212,0.875672
...,...,...,...,...,...,...,...,...,...
56037,0.633972,0.611330,0.316986,0.520763,NaN,0.475479,0.339628,0.543404,0.407553
56039,0.310780,NaN,0.133191,0.488368,NaN,NaN,0.887942,0.088794,0.621559
56041,0.726111,0.871333,0.677704,0.338852,NaN,0.290444,0.290444,0.096815,0.338852
56043,0.978713,0.244678,0.367017,0.244678,NaN,0.122339,0.367017,0.611696,0.367017
56045,0.293298,NaN,0.439947,0.146649,0.146649,0.439947,0.146649,0.293298,0.293298

2009    0.090760
2010    0.090105
2011    0.090760
2012    0.091415
2013    0.090760
2014    0.090433
2015    0.091415
2016    0.091743
2017    0.092726
dtype: float64