In [1]:
# this code takes the NFIRS Dataset and outputs a count of fires by zipcode
# requires NFIRS_2009_2016_geocoded_with_tract.csv to be in the main path

In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd

In [2]:
# Change to your filepath to data and uncomment if NFIRS_2009_2016_geocoded_with_tract.csv not in the main path 
os.chdir('../Data/Raw')

SyntaxError: invalid syntax (<ipython-input-4-327404cb88b4>, line 1)

In [43]:
TRACTS = gpd.read_file('ustracts_clipped.shp')



NFIR = pd.read_csv('NFIRS_2009_2016_geocoded_with_tract.csv',
                   encoding='latin_1',
                   index_col=0,
                   low_memory=False)

In [8]:
TRACTS.head()

,STATEFP,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,01,089,001902,01089001902,19.02,Census Tract 19.02,G5020,S,12784312,8256,+34.6825950,-086.5407538,"POLYGON ((-86.556074 34.674245, -86.555981 34...."
1,01,089,010800,01089010800,108,Census Tract 108,G5020,S,62434260,418101,+34.7623828,-086.4951024,"POLYGON ((-86.55461299999999 34.786468, -86.55..."
2,01,089,010701,01089010701,107.01,Census Tract 107.01,G5020,S,88171204,277431,+34.8667659,-086.5784822,"POLYGON ((-86.642866 34.876408, -86.6428229999..."
3,01,089,011014,01089011014,110.14,Census Tract 110.14,G5020,S,10927369,11607,+34.7176388,-086.7667595,"POLYGON ((-86.78653799999999 34.702791, -86.78..."
4,01,089,010301,01089010301,103.01,Census Tract 103.01,G5020,S,87926545,152312,+34.9392227,-086.5836942,"POLYGON ((-86.642116 34.93313, -86.64209799999..."

In [7]:
NFIR.columns

Index(['ORIGINAL_ADDRESS', 'MATCH', 'MATCH_TYPE', 'MATCHED_ADDRESS', 'X', 'Y',
       'TIGER_LINE_ID', 'TIGER_LINE_SIDE', 'STATE', 'state_fips', 'COUNTYFP',
       'TRACTCE', 'GEOID', 'NAME', 'NAMELSAD', 'MTFCC', 'FUNCSTAT'],
      dtype='object')

In [48]:
OUT =  NFIR.groupby(['STATE','COUNTYFP'] )['state_fips','TRACTCE'].value_counts()

AttributeError: 'DataFrameGroupBy' object has no attribute 'value_counts'

In [ ]:
OUT

Output

In [19]:
def unnest(df, col):
    unnested = (df.apply(lambda x: pd.Series(x[col]), axis=1)
                .stack()
                .reset_index(level=1, drop=True))
    unnested.name = col
    return df.drop(col, axis=1).join(unnested)

In [36]:
OUT =  OUT.reset_index(level = 1 )
OUT = OUT.reset_index(level = 1)

IndexError: Too many levels: Index has only 1 level, not 2

In [40]:
OUT

        TRACTCE  COUNTYFP  COUNT
STATE
AK        100.0      13.0      3
AK        200.0      16.0      9
AK        100.0      16.0      1
AK       1731.0      20.0     73
AK        802.0      20.0     72
AK        901.0      20.0     72
AK        701.0      20.0     70
AK        801.0      20.0     70
AK       1400.0      20.0     70
AK        600.0      20.0     67
AK        703.0      20.0     67
AK       2712.0      20.0     64
AK       1701.0      20.0     58
AK        102.0      20.0     57
AK       2303.0      20.0     56
AK       2702.0      20.0     55
AK        902.0      20.0     44
AK       2811.0      20.0     44
AK       1000.0      20.0     43
AK       2301.0      20.0     43
AK       1702.0      20.0     41
AK       2502.0      20.0     41
AK        203.0      20.0     40
AK       1802.0      20.0     40
AK       2000.0      20.0     39
AK       2812.0      20.0     39
AK        101.0      20.0     38
AK        702.0      20.0     38
AK       1900.0      20.0     38
AK       2900.0      20.0     37
...         ...       ...    ...
WY        200.0      33.0      5
WY        400.0      33.0      5
WY        600.0      33.0      3
WY        500.0      33.0      1
WY        102.0      35.0      3
WY        101.0      35.0      2
WY     970800.0      37.0     38
WY     971100.0      37.0     25
WY     970602.0      37.0     13
WY     970601.0      37.0     10
WY     970901.0      37.0     10
WY     971200.0      37.0     10
WY     970500.0      37.0      9
WY     970700.0      37.0      7
WY     971000.0      37.0      6
WY     970902.0      37.0      5
WY     970903.0      37.0      5
WY     971600.0      37.0      4
WY     967702.0      39.0     13
WY     967800.0      39.0      9
WY     967701.0      39.0      8
WY     967600.0      39.0      7
WY     975400.0      41.0     21
WY     975200.0      41.0     16
WY     975300.0      41.0     16
WY        301.0      43.0     13
WY        200.0      43.0      4
WY        302.0      43.0      3
WY     951300.0      45.0      8
WY     951100.0      45.0      3

[66157 rows x 3 columns]