In [1]:
# this code takes the NFIRS Dataset and outputs a count of fires by zipcode
# requires NFIRS_2009_2016_geocoded_with_tract.csv to be in the main path

In [3]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import conda

In [2]:
# Change to your filepath to data and uncomment if NFIRS_2009_2016_geocoded_with_tract.csv not in the main path 
#os.chdir('../Data/Raw')

In [4]:
conda install -c conda-forge geopandas

SyntaxError: invalid syntax (<ipython-input-4-327404cb88b4>, line 1)

In [3]:
NFIR = pd.read_csv('NFIRS_2009_2016_geocoded_with_tract.csv',
                   encoding='latin_1',
                   index_col=0,
                   low_memory=False)

In [4]:
NFIR.head()

,ORIGINAL_ADDRESS,MATCH,MATCH_TYPE,MATCHED_ADDRESS,X,Y,TIGER_LINE_ID,TIGER_LINE_SIDE,STATE,state_fips,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT
ID,,,,,,,,,,,,,,,,,
rcp2_id1868,"300 Navaho ST, Enterprise, AL, 36331",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,AL,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rcp2_id9390,"253 BALD ROCK RD, BERRY_CRK, CA, 95934",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,CA,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rcp2_id1869,"105 Yellowleaf DR, Enterprise, AL, 36331",Match,Non_Exact,"105 YELLOWLEAF DR, ENTERPRISE, AL, 36330",-85.807050,31.328058,99550660.0,L,AL,1.0,31.0,11202.0,1.031011e+09,112.02,Census Tract 112.02,G5020,S
rcp2_id9391,"464 SHELDON AVE, GRDLY, CA, 95956",Match,Non_Exact,"464 SHELDON AVE, GRIDLEY, CA, 95948",-121.666460,39.350815,636052867.0,R,CA,6.0,7.0,3400.0,6.007003e+09,34.00,Census Tract 34,G5020,S
rcp2_id9392,"11336 YANKEE HILL RD, CONCOW, CA, 95965",Match,Non_Exact,"11336 YANKEE HILL RD, YANKEE HILL, CA, 95965",-121.520836,39.712353,68417518.0,R,CA,6.0,7.0,2400.0,6.007002e+09,24.00,Census Tract 24,G5020,S

In [7]:
NFIR.columns

Index(['ORIGINAL_ADDRESS', 'MATCH', 'MATCH_TYPE', 'MATCHED_ADDRESS', 'X', 'Y',
       'TIGER_LINE_ID', 'TIGER_LINE_SIDE', 'STATE', 'state_fips', 'COUNTYFP',
       'TRACTCE', 'GEOID', 'NAME', 'NAMELSAD', 'MTFCC', 'FUNCSTAT'],
      dtype='object')

In [8]:
OUT =  NFIR.groupby(['STATE','COUNTYFP'] )['TRACTCE'].value_counts()

In [9]:
OUT.name = 'COUNT'

Output

In [10]:
OUT.to_csv('Fires_by_Census_Tract.csv',header= True)

In [19]:
OUT

STATE  COUNTYFP  TRACTCE
AK     13.0      100.0        3
       16.0      200.0        9
                 100.0        1
       20.0      1731.0      73
                 802.0       72
                 901.0       72
                 701.0       70
                 801.0       70
                 1400.0      70
                 600.0       67
                 703.0       67
                 2712.0      64
                 1701.0      58
                 102.0       57
                 2303.0      56
                 2702.0      55
                 902.0       44
                 2811.0      44
                 1000.0      43
                 2301.0      43
                 1702.0      41
                 2502.0      41
                 203.0       40
                 1802.0      40
                 2000.0      39
                 2812.0      39
                 101.0       38
                 702.0       38
                 1900.0      38
                 2900.0      37
                             ..
WY     33.0      200.0        5
                 400.0        5
                 600.0        3
                 500.0        1
       35.0      102.0        3
                 101.0        2
       37.0      970800.0    38
                 971100.0    25
                 970602.0    13
                 970601.0    10
                 970901.0    10
                 971200.0    10
                 970500.0     9
                 970700.0     7
                 971000.0     6
                 970902.0     5
                 970903.0     5
                 971600.0     4
       39.0      967702.0    13
                 967800.0     9
                 967701.0     8
                 967600.0     7
       41.0      975400.0    21
                 975200.0    16
                 975300.0    16
       43.0      301.0       13
                 200.0        4
                 302.0        3
       45.0      951300.0     8
                 951100.0     3
Name: COUNT, Length: 66157, dtype: int64